In [80]:
%run ./keys.ipynb

In [81]:
import tweepy
import pandas as pd

In [82]:
auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [83]:
cursor=tweepy.Cursor(api.user_timeline,id='PMOIndia',tweet_mode='extended').items(100)

In [84]:
tweets=[]
likes=[]
time=[]
for i in tweepy.Cursor(api.user_timeline,id='narendramodi',tweet_mode='extended').items(200):
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)

Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id

In [85]:
df=pd.DataFrame({'tweets':tweets,'time':time,'likes':likes})

In [86]:
df

,tweets,time,likes
0,Birthday greetings to respected Advani Ji. Pra...,2021-11-08 02:56:32+00:00,32810
1,தமிழக முதல்வர் @mkstalin உடன் பேசினேன். மாநிலத...,2021-11-07 16:41:13+00:00,14100
2,"Spoke to Tamil Nadu CM, Thiru @mkstalin and di...",2021-11-07 15:26:20+00:00,26736
3,Attended the @BJP4India National Executive Mee...,2021-11-07 12:55:34+00:00,23503
4,Will lay the foundation stone for the four lan...,2021-11-07 12:54:39+00:00,8827
...,...,...,...
195,We envision our aviation sector to run with ut...,2021-10-20 09:05:11+00:00,8187
196,The airport in Kushinagar fulfils a long-stand...,2021-10-20 09:04:47+00:00,9635
197,"Come to Kushinagar, get inspired by the noble ...",2021-10-20 09:03:44+00:00,27836
198,Addressing a public meeting in the sacred land...,2021-10-20 08:12:19+00:00,15010
199,Addressing the Abhidhamma Day programme. https...,2021-10-20 06:51:04+00:00,14509

In [87]:
df=df[~df.tweets.str.contains("RT")]

In [88]:
df.shape

(197, 3)

In [89]:
df=df.reset_index(drop='True')

In [90]:
most_liked=df.loc[df.likes.nlargest(5).index]

In [91]:
most_liked

,tweets,time,likes
107,A cruel twist of fate has snatched away from u...,2021-10-29 11:06:45+00:00,153630
28,दीपावली के पावन अवसर पर देशवासियों को हार्दिक ...,2021-11-04 01:29:57+00:00,110123
181,India scripts history. \n\nWe are witnessing t...,2021-10-21 05:04:22+00:00,109710
26,I feel privileged that I got to spend Diwali w...,2021-11-04 12:42:37+00:00,94035
12,Prayed at Kedarnath this morning. https://t.co...,2021-11-05 12:40:51+00:00,90146